.container{
    padding: 25px 75px;
}
@media (max-width:480px) {
    .container{
        padding: 25px 16px;
    }
}
.medium-title{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}