.container {
  // padding: 25px 75px;
  padding: 1rem;
}
.medium-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.hoverable-div {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.hoverable-div:hover .title-span {
  text-decoration: underline;
}
